<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form.css') }}">
      <link href="https://fonts.googleapis.com/css?family=Khula" rel="stylesheet" type='text/css'>
      <title>Home</title>
   <body>
      <form class="center">
         <h1>Home Page</h1>
         <a class="regularButton" href="http://127.0.0.1:5000/student">Student Form</a>
         <a class="regularButton" href="http://127.0.0.1:5000/list">View Students List</a>
      </form>
   </body>
</html>
